body {
	background: #fff;
	font-size: 14px;
	font-weight: 400;
	font-family: source sans pro, sans-serif;
	box-sizing: border-box;
	color: #666;
	line-height: 25px;
	backface-visibility: hidden;
	overflow-x: hidden;
}

.navbar{
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;
}

ul li, ol li{
	list-style: none;
}