.menu-wrap{
	position: fixed;
	z-index: 9999999;
	right: 0;
	width: 260px;
	height: 100%;
	background: #fff;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	transform: translate3d(320px,0,0);
	transition: transform .4s;
	transition-timing-function: cubic-bezier(.7,0,.3,1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.menu, .menu-list {
	height: 100%;
}

.menu-list{
	transition: transform 0s .4s;
	transition-timing-function: cubic-bezier(.7,0,.3,1);
	transform: translate3d(0,100%,0);
}